<div class="flex flex-row bg-red-400 items-center justify-center">
  <div class="w-[60px] max-w-[60px] min-w-[60px]">
    <img
      src="../assets/logo.jpg"
      class="w-[60px] h-[60px] rounded-full"
      alt="Logo"
    />
  </div>
  <div class="flex relative h-[60px] min-h-[60px] w-full">
    <label class="side-menu w-auto md:hidden">
      <input type="checkbox" />
    </label>
  </div>
  <!-- <div class="flex h-[60px] min-h-[60px] w-full">
    <div class="w-full">
      <div class="side-menu">
        <input type="checkbox" />
      </div>
    </div>
  </div> -->
</div>
