<header class="flex flex-row bg-[#ff6e6e] items-center justify-center">
  <div class="w-[60px] max-w-[60px] min-w-[60px]">
    <img
      src="../assets/logo.jpg"
      class="w-[60px] h-[60px] rounded-full"
      alt="Logo"
    />
  </div>
  <div class="flex relative h-[60px] min-h-[60px] w-full">
    <label class="side-menu w-auto md:hidden">
      <input type="checkbox" />
    </label>
    <div class="sidebar">
      <nav>
        <div>This</div>
        <div>Is</div>
        <div>The</div>
        <div>Sidebar</div>
      </nav>
    </div>
  </div>
</header>
