@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bar-width: 18px;
  --bar-height: 2px;
  --hamburger-gap: 4px;
  --foreground: #333;
  --background: #fbfbfb;
  --hamburger-margin: 4px;
  --animation-timing: 400ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --padding: 10px;
  --screen-width: 100%;
  --seconday-bg-color: #ff6e6e;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background);
  overflow: hidden;
}

.side-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: 20px;
  position: absolute;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  top: 20px;
  height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  right: calc(-100% + 25px);
  z-index: 2;
}
.side-menu:has(input:focus-visible)::before,
.side-menu:has(input:focus-visible)::after,
.side-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}
.side-menu::before,
.side-menu::after,
.side-menu input {
  content: "";
  width: 100%;
  height: var(--bar-height);
  background-color: var(--background);
  border-radius: 9999px;

  transform-origin: center center;
  transition: transform var(--animation-timing),
    translate var(--animation-timing), opacity var(--animation-timing),
    width var(--animation-timing);
}
.side-menu::before {
  width: 50%;
}
.side-menu::after {
  width: 50%;
  transform: translateX(100%);
}
.side-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
  height: var(--bar-height);
}
.side-menu:has(input:checked)::before {
  width: 100%;
  transform: translateY(6px) rotate(45deg);
}

.side-menu:has(input:checked)::after {
  width: 100%;
  transform: translateY(-6px) rotate(-45deg);
}

.side-menu input:checked {
  width: 0;
  opacity: 0;
}
.sidebar {
  position: fixed;
  top: 60px;
  right: 0;
  min-width: 100%;
  background-color: aqua;
  min-height: 100vh;
  backdrop-filter: blur(20px);
  transform: translateX(100%);
  transition: transform var(--animation-timing);
  z-index: 9999;
}
.side-menu:has(input:checked) ~ .sidebar {
  transform: translateX(0%);
}
